.podcastLayout {
  display: flex;
  flex-direction: row;
  margin: 2.5rem 3rem;
}

.detailPodcast {
  flex: 30;
  margin-right: 3rem;
  margin-left: 1.5rem;
}

.childrenContent {
  flex: 70;
  margin-right: 1.5rem;
}

.w12 {
  width: 12%;
}
