.searchHeader {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 2rem;
}

.podcastSize {
  background-color: blue;
  border-radius: 6px;
  padding: 3px 6px;
  margin: 0 6px;
}

.podcastSize span {
  font-weight: bold;
  color: #fff;
}
